// Custom.scss
// Option A: Include all of Bootstrap
$white: #ffffff;

$theme-colors: (
    "light":      #d2d9ee,
    "dark":       #080a6a,
    "primary":    #001ff7,
    "secondary":  #ff008e,
    "info":       #84704f,
    "success":    #00a15e,
    "warning":    #e0cb00,
    "danger":     #ef1d00,
);

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/*main css for MKDS Template */

/* Carousel homepage*/

#carouselIndex .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
  overflow: hidden;
}
/*Carousel thumbmail*/
#carousel-thumbs {
	background: #f0f0f0;
	padding: 0 50px;
}
#carousel-thumbs img:hover {
	opacity: 100%;
}

#carousel-thumbs img {
	opacity: 80%;
	border: 3px solid transparent;
	cursor: pointer;
}
#carousel-thumbs .selected img {
	opacity: 100%;
}

.carousel-control-prev,
.carousel-control-next {
	width: 50px;
}

#carousel-thumbs .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(0,0,0,.60)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carousel-thumbs .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%60000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*img accueil tuile*/

.tuile img {
  height: 30vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
